/*
Bootstrap Elements
*/
button.btn-wide, #mapControl button {
  width: 100%; }
button.btn-TorCo-orange, #mapControl button {
  background-color: #ffcc66;
  color: black; }

select.select-wide {
  width: 100%; }

table.table-striped tr {
  background-color: #f9f9f9; }
  table.table-striped tr:nth-child(even) {
   /* background-color: #ffcc66; */}

table.table-config td:nth-child(2) input {
  float: right; }
table.table-config td:nth-child(2) textarea {
  width: 100%; }

.modal {
  z-index: 10500; }

.modal-header {
  background-color: #ffcc66; }

/*
Map Control
*/
#mapControl button {
  margin-bottom: 10px; }

#mapCanvas {
  width: 100%;
  height: 600px;
  margin-bottom: 15px; }

/*
Data Table
*/
#dataTable td:nth-child(2), #dataTable td:nth-child(3) {
  text-align: right; }

/*# sourceMappingURL=style.css.map */

.main-container
{
	width: 1120px;
    margin: 15px auto;
}
.box {
    border: 1px solid #000;
    padding: 7px;
    margin-bottom: 12px;
    margin-left: 11px;
}
.box p
{
    text-align: justify;
}
@media screen and (max-width: 991px)
{
    .main-container
    {
       width: 100%!important;
    }
    .col-md-4 {
    float: left;
    margin: 0px auto;
    margin-left: 5px;
    }
}
@media screen and (max-width: 640px)
{
    .col-md-4 {
    width: 100%!important;
    }
}

#errmsg
{
color: red;
}

.retightenedimd{
border: 1px solid;
margin-bottom: 25px;
 margin-top: 30px;
	
}
@media screen and (max-width: 767px){

input#pricehightens{float: left;}
button#TorCo-btn-htf{float:left;}
}
@media screen and (max-width: 651px){.modal-footer button{font-size: 8px;width: 100%!important;margin-left: 0px!important;}}
.modal-footer{text-align:center;}
.modal-footer button{margin-top:7px;}