.tooltip{opacity:1 !important;}
.simple-tooltip-container {
  position: relative;
}

.js-dialogtooltip{
left: 99%;
width: 37%;
background: rgb(255, 255, 255) none repeat scroll 0% 0%;
background: rgba (255,255,255,.9);
border: 1px solid rgb(153, 153, 153);
border-radius: 0.5em;
padding: 1em;
text-align: left;
margin-top: -51px;	
	}
.simple-tooltip-tooltip__close, .simple-righttooltip-tooltip__close {
    float: right;
    font-family: inherit;
    font-size: .8em;
    background: #882525;
    color: #fff;
    border-radius: 1em;
} 
.simple-tooltip-tooltip {
  position: absolute;
  z-index: 666;
  top: 50%;
  left: 50%;
  width: 25%;
  
  background: #fff;
  background: rgba (255, 255, 255, .9);
  border: 1px solid #882525;
  border-radius: .5em;
  padding: 1em;
  text-align: left;
}
.simple-tooltip-tooltip__title {
  margin: 0;
  line-height: 1;
}
.simple-tooltip-tooltip p {
  font-size: 1em;
}
.simple-tooltip-tooltip__close {
  float: right;
  /** fix typo inputs **/
  font-family: inherit;
  font-size: 1em;
  background: #882525;
  color: #fff;
  border-radius: 1em;
}
#tooltip-title{font-size: 17px;}
#js-tooltip-close{float: right;
font-family: inherit;
background: rgb(136, 37, 37) none repeat scroll 0% 0%;
color: rgb(255, 255, 255);
border-radius: 1em;
font-size: 13px;
padding: 2px 5px;
padding-left: 5px;
padding-right: 5px;}
/* it can be easily adapted in media-queries for tablets/mobile */

/* for this example: tablets */
@media (max-width: 55.625em) {

  .simple-tooltip-container {
    position: static;
	
  }
  .simple-tooltip-tooltip {
    position: static;
	width: auto;
	margin-top: 1em;
  }
  
}

.js-tooltip{padding:0 !important;
background:none !important;
border: medium none;
 margin-left: 10px;
}

.js-tooltip img{width:24px;}

